body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
    margin:0px;
}

/*Titulos*/
.titulo{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: brown;
    text-align: center;
    padding:10px;
    margin-bottom:30px;
    
}

.titulo:first-of-type{
    margin-bottom:0px;
}

/*Menu lateral*/
#menu{
    float:left;
    text-align:center;
    background-color:darkred;
    padding:20px 0 20px 0;
    height:100%;
}

/*Foto*/
#imagen img{
    width:250px;
}


#enlaces{
    margin-right:20px;
    width:100%;
}

#enlaces ul{
    list-style: none;
    padding-left:0;
}

#enlaces a{
    text-decoration: none;
    color:white;
    font-size: 25px;
}

#enlaces li{
    padding:15px 0 15px 0;
    border-top:1px solid;
    
}

#enlaces li:last-child{
    border-bottom:1px solid;
}

#enlaces li:hover{
    background-color:red;
}

/*Contenido*/
#contenido{
    float:left;
    padding:0px 10px 10px 10px;
}