body{
    padding:0;
    margin:0;
    font-family:sans-serif;
}

/*Botones*/
.boton{
    padding:5px 20px 5px 20px;
    background-color:brown;
    border-radius:1px 5px;
    color:white;
}

/*Body Alquiler*/
.cuerpo{
    padding:10px;
    width:100%;
}

.mensajeExito{
    color:green;
}

/*//////////////////////////////MENU CABECERA/////////////////////////////////////*/
.menu{
    background-color:firebrick;
    padding:5px;
}

/*Titulo menu*/
#tituloPag{
    text-align:center;
}

/*Login menu*/
.formLogin{
    text-align:center;
}

/*Opciones usuario*/
.opcionesMenu{
    text-align:center;
}

.opcionesMenu ul li{
    display:inline;
    
}

.opcionesMenu a{
    text-decoration:none;
    color:black;
    font-weight: bold;
    padding:10px;
}

/*////////////////////////////////////////////////////////////////////////////////////*/


/*///////////////////////////////////INDEX///////////////////////////////////////////*/
/*Tamanio imagen caratulas*/
.imagenCaratula{
    width:200px;
}

/*Juegos en el index*/
.juegoIndex{
    margin-top:10px;
    float:left;
    text-align:center;
    width:33%;
}

.tituloJuego{
    font-weight: bold;
}
/*/////////////////////////////////////////////////////////////////////////////////////*/


/*///////////////////////////////////////PAGINA DE JUEGO//////////////////////////////////////////*/
.imagenAlquiler{
    float:left;
    width:35%;
}

.imagenAlquiler img{
    width:400px;
}

.informacionJuego{
    float:left;
    width:65%;
}

.formAlquiler{
    margin-top:10px;
    float:left;
    width:100%;
    text-align:center;
}

.login{
    margin-top:10px;
    border:1px solid gray;
    padding:10px;
}