body{
    padding:0;
    margin:0;
    font-family:sans-serif;
}

/*//////////////////////////////Menu cabecera/////////////////////////////////////*/
.menu{
    background-color:gray;
    padding:5px;
}

/*Titulo menu*/
#tituloPag{
    text-align:center;
}

/*Login menu*/
.formLogin{
    text-align:center;
}

.formLogin [type=submit]{
    padding:8px 20px 8px 20px;
    background-color:lightblue;
    border-radius:1px 5px;
}

/*Opciones usuario*/
.opcionesMenu{
    text-align:center;
}

.opcionesMenu ul li{
    display:inline;
    
}

.opcionesMenu a{
    text-decoration:none;
    color:blue;
    padding:10px;
}

/*Tamanio imagen caratulas*/
.imagenCaratula{
    width:200px;
}

/*Body Alquiler*/
.cuerpoAlquiler{
    padding:10px;
    width:100%;
}

/*Juegos en el index*/
.juegoIndex{
    margin-top:10px;
    float:left;
    text-align:center;
    width:33%;
}

.imagenAlquiler{
    float:left;
    width:35%;
}

.imagenAlquiler img{
    width:400px;
}

.informacionJuego{
    float:left;
    width:65%;
}

.formAlquiler{
    margin-top:10px;
    float:left;
    width:100%;
    text-align:center;
}

.login{
    margin-top:10px;
    border:1px solid gray;
    padding:10px;
}