body{
    font-family:"Arial";
}

.contenedorMenu{
    margin:10px;
}

.menu li{
    display:inline;
    background-color:blue;
    padding:10px;
    
}

.menu li a{
    text-decoration: none;
    font-weight:bold;
    color:white;
}

.menu li:hover{
    background-color:lightblue;
}

.mensajeError{
    color:red;
}

.contenedorMensajes{
    width:400px;
    border:1px solid black;
    margin:10px;
}

.autor{
    border:1px solid black;
    font-weight:bold;
    background-color:grey;
    padding:5px;
}

.cuerpo{
    border:1px solid black;
    margin-top:7px;
    padding:10px;
}

.mensaje{
    padding:13px;
    margin-bottom:20px;
}

.controlesMensaje{
    padding:10px;
    float:right;
}

.advertencia{
    width:500px;
    background-color:#ffbfc7;
    color:red;
    border:1px solid darkred;
    padding:3px;
    margin:auto;
    margin-top:10px;
}

.advertencia h5{
    text-align:center;
}